<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Knowledge</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body>

    <form id="factsForm" autocomplete="off">
        {{ form.hidden_tag() }}
        <table>
            <thead>
                <tr>
                    <td colspan="2"></td>
                    {% for top in topics %}
                    <th scope="col">{{ top }}</th>
                    {% endfor %}
                    <th scope="col">Letter Score</th>
                </tr>
            </thead>
            <br>
            <tbody>
                {% for l in letters %}
                <tr>
                    <th colspan="2" scope="row" id="letter_1">{{ l }}</th>
                    {% for top in topics %}
                    <td>
                        <span class="factInput">{{ form[top ~ '_' ~ l]() }}</span>
                        <span class="factAnswer" id="{{ top ~ '_' ~ l ~ '_answer'}}"></span>
                        <span>
                            <input type="checkbox" id="{{ top ~ '_' ~ l ~ '_check'}}"
                                name="{{ top ~ '_' ~ l ~ '_check'}}" style="display:none"
                                title="Check/uncheck to accept/disallow answer" onclick="toggleAnswer(this)" />
                        </span>
                    </td>
                    {% endfor %}
                    <td id="{{ l ~ '_score'  }}" />
                </tr>
                {% endfor %}
                <tr>
                    <th colspan="2" scope="row">Topic Score</th>
                    {% for top in topics %}
                    <td id="{{ top ~ '_score'}}" />
                    {% endfor %}
                    <td id="total_score" />
                </tr>
            </tbody>
        </table>
        <input hidden id="factsWrongAnswers" name="factsWrongAnswers"/>
        {{ form.submit() }}
    </form>
    <p>
        <button onclick="resetTimer('{{ timer }}')">Reset Timer</button>
        <span id="timer" data-countdown="{{ timer * 60 }}" class="timer">{{ timer }}:00</div>
    </p>

</body>

</html>